<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Angular & Bootstrap Demo</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <h3>{{title}}</h3>
    </div>
  </div>
</div>

<ul>
    <li><a href="/">Home</a></li>
    <li><a routerLink ="/contact">Contact</a></li>
    <li> <a [routerLink] = "['/servers']">Server</a></li>
    <li> <a [routerLink] = "['/about']">About</a></li>

  </ul>
<div style="text-align:center">
<router-outlet></router-outlet>
</div> -->
<!--Data Binding -->
<!-- <div class="container">
  <app-home (serverCreated)= 'onSelectSer($event)'></app-home>
  <app-servers *ngFor="let serverElement of serverElements" [element]= 'serverElement' ></app-servers>
</div> -->
<!-- <app-about></app-about> -->
<p>{{'Productions' | shorten}}</p>
<app-reactive></app-reactive>
<hr>
<p class="http">Http</p>
<hr>
<app-firebase></app-firebase>
